n8n workflow/KAM agent.json
{
  "name": "KAM agent",
  "nodes": [
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.body.event.bot_id }}",
              "operation": "isEmpty"
            },
            {
              "value1": "={{ $json.body.event.bot_profile }}",
              "operation": "isEmpty"
            },
            {
              "value1": "={{ $json.body.event.subtype }}",
              "operation": "isEmpty"
            }
          ]
        }
      },
      "id": "7565c6f3-ba7e-4c27-bccf-df07a7d699f1",
      "name": "Filter — Ignore Bot Messages",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -656,
        208
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ JSON.parse($json.data).ok }}",
              "value2": true
            }
          ]
        }
      },
      "id": "8c115f6d-c73e-481c-b52b-fba008925c16",
      "name": "Filter — Check ok Flag",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -80,
        96
      ]
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C0B53G3PE6Q",
          "mode": "id"
        },
        "text": "={{ JSON.parse($('HTTP Request').item.json.data).answer }}",
        "otherOptions": {
          "thread_ts": {
            "replyValues": {
              "thread_ts": "={{ $json.body.event.ts }}"
            }
          }
        }
      },
      "id": "5c52b1b6-4bf8-4d06-8e3d-cf6d22809295",
      "name": "Slack — Post Answer",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2,
      "position": [
        160,
        0
      ],
      "webhookId": "58faa773-b826-4e59-a1c1-36a641148285",
      "credentials": {
        "slackApi": {
          "id": "Gy5z8lAJzFbWCAta",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C0B53G3PE6Q",
          "mode": "id"
        },
        "text": "=:warning: The KAM agent returned an error: {{ JSON.parse($('HTTP Request').item.json.data).error ?? 'Unknown error' }}",
        "otherOptions": {
          "thread_ts": {
            "replyValues": {
              "thread_ts": "={{ $json.body.event.ts }}"
            }
          }
        }
      },
      "id": "61a5a090-0dfb-4240-b3d8-48a3c8258bd6",
      "name": "Slack — Post Error",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2,
      "position": [
        176,
        224
      ],
      "webhookId": "06db0e8e-ed6d-44de-9d2a-1486bd857ab0",
      "credentials": {
        "slackApi": {
          "id": "Gy5z8lAJzFbWCAta",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "kam-slack",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1296,
        208
      ],
      "id": "c7889337-4c09-4f6e-9f3e-ce9802b16373",
      "name": "Webhook",
      "webhookId": "8075224a-a993-4972-a23f-08897fd72fb9"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.body.challenge }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        -896,
        80
      ],
      "id": "3171257c-1f91-4ff0-a6ff-85ae46b975fe",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "ada65469-2f97-4698-b13d-041f6cf34ce1",
              "leftValue": "={{ $json.body.type }}",
              "rightValue": "url_verification",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -1088,
        208
      ],
      "id": "51c07e21-360f-414d-86af-d5316ed7d0a9",
      "name": "If"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://bulldog-stainless-portable.ngrok-free.dev/ask",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "ngrok-skip-browser-warning",
              "value": "true"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "question",
              "value": "={{ $json.body.event.text }}"
            },
            {
              "name": "export_xlsx",
              "value": "false"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "neverError": true,
              "responseFormat": "text"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -384,
        160
      ],
      "id": "2571d52d-045f-41c6-9604-d53099b31649",
      "name": "HTTP Request",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        -864,
        272
      ],
      "id": "8d4b1f43-d197-47fe-b1d3-3473cc972124",
      "name": "Respond to Webhook1"
    }
  ],
  "pinData": {},
  "connections": {
    "Filter — Ignore Bot Messages": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter — Check ok Flag": {
      "main": [
        [
          {
            "node": "Slack — Post Answer",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Slack — Post Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Filter — Check ok Flag",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Webhook1": {
      "main": [
        [
          {
            "node": "Filter — Ignore Bot Messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "09d91a7a-ec8d-4f5f-922a-b5a4bbc12fa6",
  "meta": {
    "instanceId": "716580243aaf5a60c7089aee8815af3691e968aaf4719571800919c565bab42e"
  },
  "id": "cq8v7qNya93YQgxO",
  "tags": []
}